In [5]:
import pandas as pd
df=pd.read_csv("loandata.csv",usecols=['Loan_ID','ApplicantIncome','CoapplicantIncome','LoanAmount'])
df.head(2)

    Loan_ID  ApplicantIncome  CoapplicantIncome  LoanAmount
0  LP001002             5849                0.0         NaN
1  LP001003             4583             1508.0       128.0

In [6]:
pd.read_csv("loandata.csv")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

# Normalization

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaling=MinMaxScaler()

In [10]:
x=scaling.fit_transform(df[['ApplicantIncome','CoapplicantIncome']])
x

array([[0.07048856, 0.        ],
       [0.05482993, 0.03619171],
       [0.03525046, 0.        ],
       ...,
       [0.09798392, 0.00575995],
       [0.09193568, 0.        ],
       [0.05482993, 0.        ]])

# Standardization

In [11]:
from sklearn.preprocessing import StandardScaler
stdscaling=StandardScaler()

In [19]:
stdscaling.fit_transform(df[['ApplicantIncome','CoapplicantIncome']])

array([[ 0.07299082, -0.55448733],
       [-0.13441195, -0.03873155],
       [-0.39374734, -0.55448733],
       ...,
       [ 0.43717437, -0.47240418],
       [ 0.35706382, -0.55448733],
       [-0.13441195, -0.55448733]])

# OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
X = [['male', 'from US', 'uses Safari'], ['female', 'from Europe', 'uses Firefox']]
enc.fit(X)
enc.transform([['female', 'from US', 'uses Safari'],
                ['male', 'from Europe', 'uses Safari']]).toarray()

# KNN-Imputer

In [ ]:
from sklearn.impute import KNNImputer
import numpy as np
data=pd.read_csv("PhysicalDataset1.csv",usecols=['Height','Weight','Index'])
data.head()

In [ ]:
missingdata=data.replace(0,np.nan)
imputer = KNNImputer(n_neighbors=10, weights="uniform")
imputer.fit_transform(missingdata)

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split
df

In [ ]:
winedata=pd.read_csv("winequality-red.csv")
winedata

In [ ]:
x = winedata.drop(['quality'],axis=1)
y = pd.DataFrame (winedata['quality'], columns = ['quality'])

# Univariate feature selection

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
features= SelectKBest(chi2, k=5).fit(x_train, y_train)
booles=features.get_support()
booles

In [ ]:
names=[]
for b,f in zip(booles,x_train.columns):
    if b:
     names.append(f)
print('The best features are:{}'.format(names))

# Correlation

In [ ]:
c = winedata.corr()
c

# Recursive feature elimination

In [ ]:
from sklearn.ensemble import RandomForestClassifier
est = RandomForestClassifier(random_state = 42)
sel = RFE(est, 2, step=1)
sel = sel.fit(x_train, y_train)
booles = sel.get_support()
names = [] 
for b, f in zip(booles, x_train.columns):
     if b:
        names.append(f)
names

# Principal Component Analysis (PCA)

In [ ]:
winedata=pd.read_csv("winequality-red.csv",usecols=['volatile acidity','citric acid','free sulfur dioxide','alcohol'])
winefull=pd.read_csv("winequality-red.csv")
winedata

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pc = pca.fit_transform(winedata)
pcdf = pd.DataFrame(data = pc,columns = ['principal component 1', 'principal component 2'])
pcdf

In [ ]:
finaldf = pd.concat([pcdf, winefull[['quality']]], axis = 1)
finaldf

In [ ]:
x_train.describe()

# VarianceThreshold

In [ ]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold()
x=[[100,300,500,600,700,1000],[100,300,500,600,700,1000],[100,300,500,200,900,1000],[100,300,500,600,700,1000]]
final=selector.fit_transform(x)
final